<div class="topnav">

  <img style="margin-left: 40px; margin-top: 5px" src="images/1.png" height="60px" width="60px">
  <a href="#/login" onclick="document.getElementById('01').style.display='block'"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<font color="#3399FF">{{Username}}</font></a>
  <a style="margin-right: 650px; position: absolute" href="#/dashboard">&nbsp;&nbsp;&nbsp;LOGO XYZ INC.</a>

</div>

<div class="sidemenu">
  <div class="dashboard">
    <a href="#/dashboard"><img src="images/dashboard.png" width="80px" height="80px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></a>
    <p>&nbsp;&nbsp;Dashboard</p>
  </div>
  <br><br>
  <div class="topperform">
    <a href="#/topperform"><img src="images/top.png" width="80px" height="80px"></a>
    <p>&nbsp;Top Performer's</p>
  </div>
  <br><br>
  <div class="accomplishment">
    <a href="#/accomplishment"><img src="images/accom.png" width="80px" height="80px"></a>
    <p>Accomplishment</p>
  </div>
</div>
<style>
img{
  vertical-align: middle;
}
</style>

<form class="formarea">

<div class="container" style="width: 80%">
  <h3><i class="fa fa-list-alt"  aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;User Dashboard</h3><br>

</div>
</form>
